<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.slackproject.user-mapper">
	<!-- DB에 ID가 있는지 확인 -->
	<select id="findUsernameById" parameterType="String" resultType="UserDTO">
		select * from slackUser where userId = #{userId}
	</select>
	 <!-- 아이디 중복확인 -->
	 <select id="idCheck" parameterType="String" resultType="int">
	 	select count(*) from slackUser where userId = #{userId}
	 </select>
	<!-- 회원가입 -->
	<insert id="joinUser" parameterType="java.util.Map">
		insert into slackUser (userId, userPw, userName, userRoles) values(#{userId}, #{userPw}, #{userName}, #{userRoles})
	</insert>
	<!-- 가입된 유저리스트 -->
	<select id="userList" resultType="UserDTO">
		select * from slackUser where userRoles = 'USER'
	</select>
	<!-- 유저상태 업데이트 -->
	<update id="updateUserStatus" parameterType="java.util.Map">
		update slackUser set userStatus = #{userStatus} where userId = #{userId}
	</update>
</mapper>